* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  font-family: sans-serif;
  line-height: 1.4;
  color: #000; }

a {
  color: #000; }

ul {
  list-style: none; }

p {
  margin: 5px 0;
  line-height: 1.7; }

img {
  max-width: 100%; }

.navigation-bar {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 2px -2px #aeaaaa; }
  .navigation-bar ul {
    display: flex;
    align-items: center; }
    .navigation-bar ul li {
      margin: 0 15px;
      font-weight: bold; }
  .navigation-bar a {
    color: black;
    text-decoration: none; }
  .navigation-bar a:hover {
    color: #006340; }
    .navigation-bar a:hover svg {
      fill: #006340; }
  .navigation-bar .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap; }
    .navigation-bar .navbar-container .navbar-brand {
      height: 50px;
      width: 50px; }
    .navigation-bar .navbar-container .navbar-nav-left {
      text-transform: uppercase;
      flex: 1;
      margin-left: 20px; }
    .navigation-bar .navbar-container .navbar-nav-right svg {
      height: 20px;
      width: 20px;
      margin-right: 10px; }
    .navigation-bar .navbar-container .navbar-nav-right li:first-child a {
      display: flex;
      align-items: center; }
      .navigation-bar .navbar-container .navbar-nav-right li:first-child a span {
        font-size: 14px;
        font-weight: 600; }
    .navigation-bar .navbar-container .navbar-nav-right li button {
      font-weight: bold; }

.hamburger {
  cursor: pointer;
  width: 30px;
  height: 29px;
  position: relative;
  background: none;
  z-index: 10;
  transition: all 0.25s;
  border: none;
  display: none; }
  .hamburger:hover {
    background-color: rgba(0, 0, 0, 0.08);
    line-height: 30px;
    border-radius: 1em;
    line-height: 10px;
    transition: all 0.5s; }
  .hamburger--top, .hamburger--middle, .hamburger--bottom {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 2px;
    background-color: #000;
    transition: all 0.5s;
    transform: rotate(0); }
  .hamburger--top {
    transform: translateY(3px); }
  .hamburger--middle {
    transform: translateY(10px); }
  .hamburger--bottom {
    transform: translateY(17px); }

.open .hamburger--top {
  transform: rotate(45deg) translateX(7px) translateY(7px);
  transition: all 0.5s; }

.open .hamburger--middle {
  display: none; }

.open .hamburger--bottom {
  transform: rotate(-45deg) translateX(-7px) translateY(7px);
  transition: all 0.5s; }

/* Mobile menu */
.mobile-menu {
  position: fixed;
  top: 90px;
  background-color: #ffffff;
  width: 80%;
  height: 100%;
  right: 0;
  padding: 30px;
  line-height: 4;
  box-shadow: inset 0 4px 2px -2px #aeaaaa;
  transition: 0.3s; }
  .mobile-menu ul {
    line-height: 3;
    border-bottom: 1px #777 solid;
    padding-bottom: 10px;
    margin-bottom: 30px; }
    .mobile-menu ul a {
      text-decoration: none;
      font-size: 20px; }
      .mobile-menu ul a:hover {
        color: #006340; }
  .mobile-menu img {
    width: 20px;
    height: 20px;
    margin-right: 8px; }
  .mobile-menu div {
    margin-top: 16px; }
    .mobile-menu div .button-dark-outline {
      margin-right: 16px; }
    .mobile-menu div div a {
      display: flex;
      align-items: center;
      font-size: 16px; }
      .mobile-menu div div a:hover {
        color: #006340; }

.hidden {
  transform: translateX(100%); }

.no-scroll {
  overflow: hidden; }

@media (max-width: 768px) {
  .hamburger {
    display: block; }
  .navbar-brand {
    width: 40px;
    height: 40px; }
  .navigation-bar .navbar-nav-left,
  .navigation-bar .navbar-nav-right {
    display: none; } }

main {
  box-shadow: 0 4px 2px -2px #aeaaaa; }

.box {
  display: flex;
  margin: 32px 0; }

#box1 {
  background-color: #eb81a5; }

#box2 {
  background-color: #d4e9e2; }
  #box2 h1 {
    font-size: 22px;
    letter-spacing: 0; }
  #box2 p {
    margin-top: 20px;
    font-size: 16px; }
  #box2 .drinks {
    background-color: #006340; }

#box3 {
  background-color: #8f8bf4; }

#box4 {
  background-color: #cbe678; }
  #box4 .drinks img {
    width: 100%;
    height: 100%; }

#box5 {
  background-color: #e1fccd; }
  #box5 .drinks {
    background-color: #009e75; }
  #box5 h1 {
    font-size: 24px; }
  #box5 p {
    font-size: 19px; }

.drinks {
  flex: 1;
  display: flex;
  align-items: center; }

.content-container {
  flex: 1;
  display: flex;
  justify-content: center; }

.content {
  flex: 0.8;
  padding: 32px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .content h1 {
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 32px; }
  .content p {
    margin-top: 32px;
    font-size: 24px; }
  .content button {
    display: block;
    width: 8em;
    align-self: center;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 500; }

.note {
  display: flex;
  justify-content: center;
  padding: 32px 0;
  text-align: center;
  font-size: 14px; }
  .note p {
    flex: 0.6; }

@media (max-width: 768px) {
  .box {
    flex-direction: column; }
  .reverse {
    flex-direction: column-reverse; }
  .content-container .content {
    flex: 1;
    padding: 32px 16px; }
    .content-container .content h1 {
      margin-top: 0;
      font-size: 28px;
      letter-spacing: 0;
      margin-bottom: 0;
      font-weight: 500; }
    .content-container .content p {
      font-size: 22px; }
    .content-container .content button {
      margin-top: 16px;
      font-size: 14px; }
  .note {
    margin: 0 16px; }
    .note p {
      flex: 1; } }

@media (max-width: 1024px) {
  .content h1 {
    font-size: 28px; } }

/*
.footer-1 {
    padding: 24px 40px;
    display: flex;

}

.footer-container {
    flex: .9;
    display: flex;




    section {
        margin-left: 16px;
        flex: 1;
        width: 190;

        h2 {
            font-size: 19px;
            font-weight: 400;
            margin-bottom: 24px;
        }

        ul {
            font-size: 16px;
            font-weight: 100;
            line-height: 3;

            li a {
                text-decoration: none;
            }
        }
    }

    section:first-child {
        margin-left: 0;
    }
}
*/
.footer-container section ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out; }

.footer-container section.expanded ul {
  max-height: 1000px;
  /* Adjust the value to your desired height */
  animation: dropItems 0.5s ease-in-out; }

@keyframes dropItems {
  0% {
    opacity: 0;
    transform: translateY(-50px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.my-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s;
  /* Add a transition for smooth animation */ }

.my-list.expanded {
  max-height: 200px;
  /* Set the max height to show the list (adjust the value as needed) */ }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: #000; }

.button {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px #000 solid;
  border-radius: 1em;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none; }

.button-dark-outline {
  border-color: #000;
  color: #000; }
  .button-dark-outline:hover {
    background-color: rgba(0, 0, 0, 0.06); }

.button-light-outline {
  border-color: #fff;
  color: #fff; }

.button-dark {
  background-color: #000;
  color: white; }
  .button-dark:hover {
    background-color: #000000a2; }

.button-green {
  background-color: #00754a;
  color: #fff; }
  .button-green:hover {
    background-color: #00754abe; }

.content_header {
  height: 800px;
  background-color: #d4e9e2;
  margin-bottom: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../images/star_bg.jpg");
  background-size: cover;
  background-position: right bottom; }
  .content_header div {
    flex-basis: 50%; }
    .content_header div .text-content {
      padding: 32px 40px; }
      .content_header div .text-content h2 {
        font-size: 36px;
        text-transform: uppercase; }
      .content_header div .text-content p {
        padding-top: 16px;
        font-size: 19px; }
      .content_header div .text-content div {
        padding-top: 32px; }

.section1 {
  padding: 64px 0; }

.section-container {
  text-align: center;
  padding: 0 24px; }
  .section-container h3 {
    font-size: 26px; }
  .section-container p {
    padding-top: 16px;
    font-size: 16px; }
  .section-container .instruction {
    padding-top: 48px;
    margin: 0 5%;
    display: flex; }
    .section-container .instruction .instruction-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 24px;
      flex: 1; }
      .section-container .instruction .instruction-items img {
        width: 48px;
        padding-bottom: 24px; }
      .section-container .instruction .instruction-items div h3 {
        font-weight: 600;
        font-size: 19px; }
      .section-container .instruction .instruction-items div p {
        line-height: 1.5;
        font-size: 16px; }
        .section-container .instruction .instruction-items div p a {
          color: #006241; }
      .section-container .instruction .instruction-items:first-child {
        margin-left: 0; }
      .section-container .instruction .instruction-items:last-child {
        margin-right: 0; }

@media (max-width: 768px) {
  .content_header {
    flex-direction: column;
    height: 800px;
    margin-bottom: 32px; }
    .content_header .text-content {
      text-align: center; }
  .section1 {
    padding: 32px 0 0; }
  .section-container h2 {
    font-size: 24px;
    font-weight: 600; }
  .section-container p {
    font-size: 14px; }
  .section-container .instruction {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0; }
    .section-container .instruction .instruction-items {
      margin: 0;
      padding-bottom: 32px;
      flex-direction: row;
      text-align: start;
      justify-self: flex-start; }
      .section-container .instruction .instruction-items img {
        width: 64px;
        padding-right: 16px;
        padding-bottom: 0;
        align-self: flex-start; }
      .section-container .instruction .instruction-items div h3 {
        font-size: 16px; }
      .section-container .instruction .instruction-items div p {
        font-size: 14px; } }

/* Section 3 */
.section3 .instruction .larger-img img {
  width: 112px; }
